.container {
  background: white;
  height: calc(100vh - 88px);
  position: fixed;
  z-index: 2;
  left: 12px;
  border-radius: 5px;
}

.content {
  padding: 6px 8px;
  padding-left: 16px;
  padding-right: 16px;;
}

.note__listItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 12px;
  padding: 8px 10px 0;
  padding-left: 12px;
  border-radius: 4px;
}

.note__listItem h3 {
  font-weight: 600;
  font-size: 15px;
  color: #272727
}

.note__listItem {
  font-weight: 500;
  font-size: 13px;
  color: #444;
}

.note__listItem_selected {
  background-color: #B5C5BD;
}

.note__listItem_selected h3 {
  color: #222
}